<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add QAP Entity</title>

        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $("button").click(function() {
                    $.ajax({
                            type : "POST",
                            url : "http://localhost:8081/qap/create/qap4",
                            headers : {
                            "Content-Type" : "application/json"
                        },
                        success : function(data) {
                            alert(data);
                        },
                        error : function(data) {
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <button>Click here to submit the form</button>
    </body>
</html>